{{extends "layouts/base.jet.html"}}

{{block documentBody()}}
<div class="slim wrapper">
  <div class="dialog">
    <h1 class="headline">
      {{block slimHeadline()}}Dialog{{end}}
    </h1>

    {{block slimBody()}}{{end}}
  </div>
</div>
{{end}}
