@import-normalize;

/* box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--body-background);
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.slim.wrapper {
  width: 35rem;
  margin-top: 2rem;
}

.icons img {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  border-radius: 50%;
  background: var(--tint-background);
}

.dialog {
  margin-top: 1rem;
  background: var(--tint-background);
  box-shadow: 0 0 5px 2px black;
  border: 1px solid black;
  padding: 0.5rem;
}

.dialog > .headline {
  background: var(--color-brand);
  margin: -0.5rem -0.5rem 1rem -0.5rem;
  display: block;
  padding: 0.5rem;
}
