@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), url('../fonts/FiraSans-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url('../fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-headline: 'Fira Sans', sans-serif;
  --font-text: 'Fira Sans', sans-serif;
  --font-code: 'Fira Code', monospace;

  --color-dark: #3c153b;
  --color-highlight: #f3e0cb;
  --color-text: #3b3731;
  --color-link: #cd2159;
  --color-link-hover: #f76b9f;
  --color-neutral: #a790a5;
  --color-accent: #88ad69;

  /*
  --color-mastodon: #3088d4;
  --color-pleroma: #fba457;
  */

  --tint-background: rgba(255, 255, 255, 0.4);

  --container-width: 1140px;

  --body-background: var(--color-dark);
}
