{{extends "layouts/slim.jet.html"}}

{{block title()}}Login{{end}}

{{block slimHeadline()}}Login{{end}}

{{block slimBody()}}
{{if isset(errors) && errors.Has("_") }}
{{ errors.First("_") }}
{{end}}

<form class="form_login" method="POST">
  <input type="text" name="login" autofocus required spellcheck="false" autocomplete='false' placeholder='Username'>
  {{if isset(errors) && errors.Has("login")}}{{ errors.First("login") }}{{end}}<br>
  <input type="password" name="password" required placeholder='Password'>
  {{if isset(errors) && errors.Has("password")}}{{ errors.First("password") }}{{end}}<br>
  <label><input type="checkbox" name="remember" value="t">Remember me</label>
  <input type="hidden" name="to" value="{{ .Get("to") }}">
  <input type="submit" name="" value="Login to continue" class="l_submit">
</form>
{{end}}
